@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: darkred;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: rgb(160, 112, 51);
}
/* Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(240, 248, 255, 0.021);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
}
/* End Header Section */
/* Hero Section */
#hero{
    background-image: url(img/imgbckgrnd.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5 ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(160, 112, 51);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(160, 112, 51);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3 ease background-color;
    transition-property: background-color, color;
    text-align: top;
}
#hero .cta:hover{
    color: white;
    background-color: rgb(160, 112, 51);
}
/* End Hero Section */

/* Users Section */
#users{
    background-image: url(img/imgbckgrnd.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#users::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#users .users{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#users .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#users .section-title span{
    color: darkred;
}
#users .users-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#users .user-item1 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: url(img/payter.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#users .user-item2 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: url(img/jungle.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#users .user-item3 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: url(img/mage.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#users .user-item4 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: url(img/mm.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#users .user-item5 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: url(img/tank.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#users .user-item1::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#users .user-item2::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#users .user-item3::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#users .user-item4::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#users .user-item5::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#users .users-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#users .user-item1 h2 {
    font-size: 4rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#users .user-item2 h2 {
    font-size: 4rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#users .user-item3 h2 {
    font-size: 4rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#users .user-item4 h2 {
    font-size: 4rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#users .user-item5 h2 {
    font-size: 4rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#users .user-item1 p {
    color: white;
    text-align: left;
    font-size: 2rem;
    line-height: 1.9rem;
}
#users .user-item2 p {
    color: white;
    text-align: left;
    font-size: 2rem;
    line-height: 1.9rem;
}
#users .user-item3 p {
    color: white;
    text-align: left;
    font-size: 2rem;
    line-height: 1.9rem;
}
#users .user-item4 p {
    color: white;
    text-align: left;
    font-size: 2rem;
    line-height: 1.9rem;
}
#users .user-item5 p {
    color: white;
    text-align: left;
    font-size: 2rem;
    line-height: 1.9rem;
}
/* End Users Section */

/* Highlights Section */
#highlights {
    background-image: url(img/imgbckgrnd.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#highlights::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#highlights .highlights{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}   
#highlights .highlights-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#highlights .highlights-title span{
    color: darkred;
}
#highlights .highlights-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#highlights .highlights1 {
    margin: 10px;
}
#highlights .highlights2 {
    margin: 10px;
}
#highlights .highlights3 {
    margin: 10px;
}
#highlights .highlights4 {
    margin: 10px;
}
#highlights .highlights5 {
    margin: 10px;
}
#highlights .highlights1 h2 {
    font-size: 2rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#highlights .highlights2 h2 {
    font-size: 2rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#highlights .highlights3 h2 {
    font-size: 2rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#highlights .highlights4 h2 {
    font-size: 2rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
#highlights .highlights5 h2 {
    font-size: 2rem;
    color: rgb(160, 112, 51);
    margin-bottom: 10px;
}
/* End Highlights Section */

/* About Section */
#about {
    background-image: url(img/imgbckgrnd.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#about::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h1{
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    color: rgb(160, 112, 51);
}
#about .col-right h1 span{
    color: darkred;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    color: white;
}
#about .col-right p{
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid black;
    z-index: -1;
}

/* End About Section */

/* Contact Section */
#contact {
    background-image: url(img/imgbckgrnd.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#contact::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items {
    width: 100%;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3 ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 5px;
    color: white;
}
#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: white;
}

/* End Contact Section */

/* Footer Section */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 10px;
}
#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer p {
    color: white;
    font-size: 1.3rem;
}
/* End Footer Section */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;   
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}
@keyframes text_reveal_name {
    100% {
        color: rgb(160, 112, 51);
        font-weight: 500px;
    }
}
/* End Keyframes */

/* Media Quary For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    
/* Hero */
#hero h1 {
    font-size: 7rem;
}
/* End Hero */

/* About */
#about .about {
    flex-direction: row;
}
#about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
}
#about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
}
#about .col-right {
    text-align: left;
    padding: 30px;
}
#about .col-right h1 {
    text-align: left;
}
/* End About */

/* Contact */
#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}
#contact .contact-item {
    margin: 20px;
    flex-direction: row;
}
#contact .contact-item .icon {
    height: 100px;
    width: 100px;
}
#contact .contact-item .icon img {
    object-fit: contain;
}
#contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
/* End Contact */
}
/* End Media Quary For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    /* Header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }

}
/* End Media Query For Desktop */